<h1 class="heading1 pt-4 pb-4" style="color: #4A7390; font-size: 48px;">Typography</h1>
<willow-typography [variant]="type.Body">
  <p>Font sizes are based on the Major Third Scale and rounded to the closest increment of four to match our spacing guidance. Major Third Scale is popular because it provides ample visual hierarchy while still accomodating lots of text content.</p>
  <p>Developers are encouraged to use ems or rems instead of pixels.</p>
  <p>Additional verbiage guidance is available in the Wellmark Brand Guide.</p>
</willow-typography>

<div class="container-fluid">
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Heading1">Heading 1</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Museo Slab</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 32px (2 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 600</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 38px (2.375 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Heading1">Lorem ipsum dolor sit amet consectetur.</willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Heading2">Heading 2</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 24px (1.5 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 700</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 28px (1.75 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Heading2">
        Lorem ipsum dolor sit amet consectetur. Aliquam odio pretium hac sed venenatis massa sed vitae.
      </willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Heading3">Heading 3</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 20px (1.25 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 700</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 24px (1.5 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Heading3">
        Lorem ipsum dolor sit amet consectetur. Aliquam odio pretium hac sed venenatis massa sed vitae.
      </willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Heading4">Heading 4</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 18px (1.125 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 700</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 20px (1.25 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Heading4">
        Lorem ipsum dolor sit amet consectetur. Aliquam odio pretium hac sed venenatis massa sed vitae.
      </willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Heading5">Heading 5</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 16px (1 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 700</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 20px (1.25 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Heading5">
        Lorem ipsum dolor sit amet consectetur. Aliquam odio pretium hac sed venenatis massa sed vitae.
      </willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Heading6">Heading 6</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 16px (1 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 700</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 20px (1.25 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Heading6">
        Lorem ipsum dolor sit amet consectetur. Aliquam odio pretium hac sed venenatis massa sed vitae.
      </willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Body">Body</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 16px (1 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 400</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 24px (1.5 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Body">
        Lorem ipsum dolor sit amet consectetur. Tempor diam sit scelerisque facilisi volutpat tempus arcu gravida rhoncus. Habitant auctor tortor tristique semper est massa eu sed consectetur.
      </willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Small">Small</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 12px (.75 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 400</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 20px (1.25 rem)</i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Small">
        Lorem ipsum dolor sit amet consectetur. Tempor diam sit scelerisque facilisi volutpat tempus arcu gravida rhoncus. Habitant auctor tortor tristique semper est massa eu sed consectetur.
      </willow-typography>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-fixed bg-light p-3">
      <willow-typography [variant]="type.Link">Link</willow-typography>
      <div class="type-info">
        <willow-typography [variant]="type.Small"><i>Family: Roboto</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Size: 16px (1 rem)</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Weight: 400</i></willow-typography>
        <willow-typography [variant]="type.Small"><i>Line Height: 19px </i></willow-typography>
      </div>
    </div>
    <div class="flex-fill p-3">
      <willow-typography [variant]="type.Small">
        
      </willow-typography>
    </div>
  </div>
  
</div>
