registry=https://nexus.sharedservices.aws.wellmark.com/repository/npm-group/
timeout=60000
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
prefer-offline=false
audit=false
fund=false
loglevel=warn
