<div class="container-fluid">
  <div class="row">

    <div class="col-auto sidebar" style="width: 345px; min-height: 100vh; border-right: 1px solid #dee2e6;">
      <div class="py-4">
        <div class="nav-logo">
          <a href="/home">
            <div class="nav-title-header">Design System</div>
            <div class="nav-title">Willow</div>
          </a>
         
        </div>
        <nav class="willow-nav flex-column">
          <div class="nav-header">Getting Started</div>
          <a class="nav-link" routerLink="/developers" routerLinkActive="active">Developers</a>
          <a class="nav-link" routerLink="/design" routerLinkActive="active">Design</a>
          <a class="nav-link" routerLink="/roadmap" routerLinkActive="active">Roadmap</a>

          <div class="nav-header pt-4">Foundation</div>
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          <a class="nav-link" routerLink="/typography">Typography</a>
          <a class="disabled nav-link" routerLink="/colors">Colors</a>
          <a class="disabled nav-link" routerLink="/spacing">Spacing</a>
          
          <a class="disabled nav-link" routerLink="/layout">Layout</a>
          <div class="nav-header pt-4">Components</div>
          <a class="nav-link" routerLink="/alert" routerLinkActive="active">Alert</a>
          <a class="nav-link" routerLink="/button" routerLinkActive="active">Button</a>
          <a class="nav-link" routerLink="/card" routerLinkActive="active">Card</a>
          <a class="nav-link" routerLink="/forms" routerLinkActive="active">Forms</a>
          <a class="nav-link" routerLink="/tables" routerLinkActive="active">Tables</a>
          <a class="nav-link" routerLink="/tabs" routerLinkActive="active">Tabs</a>
          <a class="nav-link" routerLink="/threaded-messages" routerLinkActive="active">Threaded Messages</a>
          <a class="disabled nav-link" routerLink="/upload-form">Document Upload</a>
          <a class="disabled nav-link" disabled routerLink="/navigation-menu">Navigation Menu</a>
          
        </nav>
      </div>
    </div>

    <div class="col">
      <div class="p-4 view-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> 