<div class="page-header header-filter" style="background-image: url('https://placehold.co/1640x1100');">
    <div class="container">
          <h1 class="display text-center">Welcome to Willow</h1>
          <h4 class="heading4 text-center">Helping teams build cohesive, efficent, and on-brand digital products</h4>
    </div>
</div>

<div class="cd-section" id="features">
    <div class="container">
      <!--     *********     FEATURES 1      *********      -->
      <div class="features-1">
          <div class="text-center mb-5">
            <h2 class="heading2 text-center mb-4">What is the Willow Design System?</h2>
            <h5 class="heading5">Willow is a design system, a unified toolkit for scaling design and development across teams.</h5>
            </div>
            <div class="row text-center">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-primary">
                <i class="fa-light fa-compass"></i>
              </div>
              <h4 class="heading4 mb-3 mt-4">Design & branding guidance</h4>
              <p>Centralized standards for colors, typography, spacing, and layout</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-primary">
                <i class="fa-light fa-object-group"></i>
              </div>
              <h4 class="heading4 mb-3 mt-4">Reusable UI libraries</h4>
              <p>Ready-to-use Angular and React components built for Wellmark's needs</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-primary">
                <i class="fa-light fa-book-sparkles"></i>
              </div>
              <h4 class="heading4 mb-3 mt-4">Unified documentation</h4>
              <p>A single source for design intent and implementation, with live code examples</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-primary">
                <i class="fa-light fa-arrow-progress"></i>
              </div>
              <h4 class="heading4 mb-3 mt-4">Governance & contribution</h4>
              <p>Clear workflows to evolve the system through cross-functional input</p>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END FEATURES 1      *********      -->
      <!--     *********     FEATURES 2      *********      -->
      <div class="features-2">

        <div class="text-center mb-5">
            <h2 class="heading2">Goals of Willow</h2>
            <h5 class="heading5">Willow exists to make products teams faster, more consistent, and aligned</h5>
        </div>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-chart-diagram"></i>
              </div>
              <div class="description">
                <h4 class="heading4">Consistency</h4>
                <p>Establish a unified visual language across all Wellmark applications</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-gauge-circle-bolt"></i>
              </div>
              <div class="description">
                <h4 class="heading4">Efficiency</h4>
                <p>Reduce developer time by using prebuilt, tested components</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-handshake-angle"></i>
              </div>
              <div class="description">
                <h4 class="heading4">Enablement</h4>
                <p>Make it easy for designers and engineers to apply system standards</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-ranking-star"></i>
              </div>
              <div class="description">
                <h4 class="heading4">Quality</h4>
                <p>Raise the bar for UI/UX across teams</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END FEATURES 2      *********      -->
      <!--     *********     FEATURES 3      *********      -->
      <div class="features-3">
        <div class="row">
          <div class="col-md-6">
            <div class="graphic-container">
              <img src="https://placehold.co/540x540">
            </div>
          </div>
          <div class="col-md-6">
            <!-- Some <br /> tags to push the text to align with the image, you can remove it if you have more text on the right side :-) -->
            <h2 class="heading2">Components of the <br>Willow Ecosystem</h2>
            <p>Willow brings tools and assets together to support design and development at scale</p>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons"></i>
              </div>
              <div class="description">
                <h4 class="heading4 my-3">Components libraries</h4>
                <p>Angular and React packages built to Wellmark's standards</p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons"></i>
              </div>
              <div class="description">
                <h4 class="heading4 my-3">Figma</h4>
                <p>The source of truth for design - all patterns, tokens, and layouts start here</p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons"></i>
              </div>
              <div class="description">
                <h4 class="heading4 my-3">Reference website</h4>
                <p>Central hub for documentation, guidance, and live examples</p>
              </div>
            </div>
            <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="material-icons"></i>
                </div>
                <div class="description">
                  <h4 class="heading4 my-3">Storybook</h4>
                  <p>Interactive environment for teams to explore and test components</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!--     *********    END FEATURES 3      *********      -->
      <!--     *********     FEATURES 4      *********      -->
      <div class="features-4">
          <div class="text-center mb-5">
            <h2 class="heading2">What Willow is not</h2>
            <h5 class="heading5">Willow clarifies how teams build - not who builds or what gets built</h5>
          </div>
        <div class="row">
          <div class="col-lg-3 col-md-12 ml-auto">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-person-to-portal"></i>
              </div>
              <div class="description">
                <h4 class="heading4 my-3">Not staff augmentation</h4>
                <p>The Willow team will help product teams effectively utilize the design system. They cannot consult on product-specific UI Work.</p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-bullseye-arrow"></i>
              </div>
              <div class="description">
                <h4 class="heading4 my-3">Not a silver bullet</h4>
                <p>Willow will never contain everything a product UI requires. There will always be some unique UI work to suit product needs.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="graphic-container">
                <img src="https://placehold.co/540x540">
            </div>
          </div>
          <div class="col-lg-3 col-md-12 mr-auto">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-water"></i>
              </div>
              <div class="description">
                <h4 class="heading4 my-3">Not rigid</h4>
                <p>Developers are encouraged to build upon Willow components to suit product needs.</p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="fa-light fa-starfighter"></i>
              </div>
              <div class="description">
                <h4 class="heading4 my-3">Not a "one and done" asset</h4>
                <p>Willow is continuously updated to evolve with our needs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END FEATURES 4      *********      -->
    </div>
  </div>