<span class="heading1 pt-4 pb-4" style="color: #4A7390; font-size: 48px;">About</span>

<div class="container-fluid mt-5">
  <h3 class="mb-3 heading3" style="color: #4A7390;">Our vision</h3>
  <willow-typography [variant]="type.Body">
    A design system is a collection of pre-built, reusable assets—components, patterns, guidance, and code—that allows its users (UX Designers, Developers, PO's, PM's, etc…) to build consistent digital experiences faster. By using the pre-built and universal assets of Design System, the time teams spend designing and building is minimized. Instead of building and re-building basic elements, they can spend that time customizing their products to address specific client use cases.
With Wellmark's Design System we want to provide a cohesive experience to our users while meeting the company's business needs.
  </willow-typography>
</div> 

<div class="container-fluid mt-5">
  <h3 class="mb-3 heading3" style="color: #4A7390;">Our guiding principles</h3>
  <h4 class="mb-3 heading4">Open</h4>
  <willow-typography [variant]="type.Body">
    The design system is a collaborative effort, and everyone is encouraged to contribute.
  </willow-typography>
  <h4 class="mt-3 heading4">Inclusive</h4>
  <willow-typography [variant]="type.Body">
    It’s designed and built to be accessible to all, regardless of ability or situation.
  </willow-typography>
  <h4 class="mt-3 heading4">Flexible</h4>
  <willow-typography [variant]="type.Body">
    Using rigorous research and testing into users' needs and desires, we are focused on real user needs.
  </willow-typography>
  <h4 class="mt-3 heading4">User-Centric</h4>
  <willow-typography [variant]="type.Body">
    Every element and component is designed from the ground up to work elegantly together to ensure consistent, cohesive user experiences.
  </willow-typography>
  <h4 class="mt-3 heading4">Consistent</h4>
  <willow-typography [variant]="type.Body">
    Every element and component is designed from the ground up to work elegantly together to ensure consistent, cohesive user experiences.
  </willow-typography>
</div> 

<div class="container-fluid mt-5">
  <h3 class="mb-3 heading3" style="color: #4A7390;">We maintain assets</h3>
  <willow-typography [variant]="type.Body">
    UX Design team maintains design specs in Figma, Storybook, and the Willow Reference Site. These specs contain components and elements as well as wireframes and guidance to aid designers and live code examples to aid engineers.
  </willow-typography>
</div> 

<div class="container-fluid mt-5">
  <h3 class="mb-3 heading3" style="color: #4A7390;">Contact us</h3>
  <willow-typography [variant]="type.Body">
    Have questions? Found a bug? Contact us.
  </willow-typography>
</div> 